.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

.items-stretch {

  align-items: stretch;
}




.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;

}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap{
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}


