.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-end {
  text-align: end;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
  line-height: 16px;

}

.text-base {
  font-size: 16px;
  line-height: 19px;
}

.text-xl {
  font-size: 20px;
  line-height: 24px;
}

.text-2xl {
  font-size: 24px;
}

.text-3xl {
  font-size: 32px;
}

.text-8 {
  font-size: 8px;
}

.text-28 {
  font-size: 28px;
}
