@import url('./_colors.scss');
@import url('./_display.scss');
@import url('./_opacity.scss');
@import url('./_position.scss');
@import url('./_radius.scss');
@import url('./_space.scss');
@import url('./_text.scss');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 1580px) {
  .container {
    max-width: 1568px;
  }
}

// @media screen and (max-width: 1580px) {
//   .container {
//     margin: 0 16px;
//   }
// }

.point:hover {
  cursor: pointer;
}

.bor {
  border: 1px solid red;
}

.tr-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.tr-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

.tr-scrollbar::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.btn {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: .3s ease;

  &:hover {
    cursor: pointer;
  }
}

.centerX {
  left: 50%;
  transform: translateX(-50%);
}

.centerY {
  top: 50%;
  transform: translateY(-50%);
}

.centerXY {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input {
  border: none;
  outline: none;
  background: transparent;
}


.point-none:hover {
  cursor: not-allowed;
}


.upercase {
  text-transform: uppercase;
}


.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}


.-rotate-90 {
  transform: rotate(-90deg);
}

.z-2 {
  z-index: 2;
}

.z-1 {
  z-index: 1;
}


.main-modal-content {
  min-width: 488px;
  width: 488px;
  z-index: 999;
}

@media screen and (max-width: 640px) {
  .main-modal-content {
    min-width: calc(100% - 32px);
    width: calc(100% - 32px);
  }
}
